.events {
  margin-top: 8%;
  position: relative;
  &__title {
    display: flex;
    justify-content: center;
    font-family: avenir;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.125rem;
    text-align: center;
    color: #2b4e62;
  }
  &__curvelines {
    position: relative;
    z-index: 3;
    margin-bottom: 15%;
    &__line1,
    &__line2,
    &__line3 {
      position: absolute;
      width: 100vw;
    }
    &__line1 {
      top: -3vh;
    }
    &__line2 {
      top: 1vh;
    }
    &__line3 {
      top: 5vh;
    }
  }
  &__container {
    width: 100vw;
    position: absolute;
    top: 100px;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 4%;
    &__vert-line__left {
      height: 25vh;
    }
    &__vert-line__middle {
      height: 17vh;
    }
    &__vert-line__right {
      height: 17vh;
    }
  }
}

@media screen and (min-width: 1024px) {
  .events {
    &__container {
      top: 80px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .events {
    &__container {
      top: 90px;
    }
  }
}

@media screen and (min-width: 1350px) {
  .events {
    &__container {
      top: 100px;
    }
  }
}