.hero-container {
  /* background-color: #292C5D;  */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 5%;
  height: 700px;
}

.hero-column {
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 50%;

}

.hero-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  justify-content: center;
  text-align: left;
}

.hero-name {
  display: flex;
  flex-direction: row;
  align-items: center;
 
  padding-left: 12%;
}

.hero-logoimg {
  width: 122px;
  height: 78px;
}

.hero-name-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 78px;
  padding-left: 4%;
}

.hero-name-text1 {
 

  font-family: avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #454545;
}

.hero-name-text2 {
 
  padding-left: 1%;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #474747;
}

.hero-text{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 4%;
  padding-left: 14%;
  font-family: SeoulNamsan;
font-style: normal;
font-weight: 500;
font-size: 19px;
letter-spacing: 0.75px;
line-height: 18.5px;

color: #525252;
}

.line-img{
    position: absolute;
    padding-left: 35.5%;
}
/* animation css*/

.clm2{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader-wrapper {
    width: 50%;
    height: 50%;
    background-color: #ffffff;
  }
  
  .loader{
    padding-top: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  .t1 {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;

    animation: 13.5s linear load1;
   
  }
  
  .t2 {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    animation: 9s linear load2;
    
  }
  
  .t3 {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    animation: 12.5s linear load3;
    
  }
  
  .t4 {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
  
    animation: 10.5s linear load4;
    
  }
  
  @keyframes load1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }
  
  
  @keyframes load2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  @keyframes load3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }
  
  @keyframes load4 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  @media only screen and (min-width: 1020px) and (max-width: 1430px){
    .triimg{
      width: 300px;
      height: 300px;
    }
    .loader{
      padding-top: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
    }
    .hero-name-text1{
      font-size: 20px;
    }
    .hero-name-text2{
      font-size: 12px;
    }
    .hero-text{
      font-size: 14px;
    }
    .hero-logoimg {
      padding-top: 10%;
      width: 80px;
      height: 50px;
    }
  }

  @media only screen and (width: 1024px){
    .triimg{
      width: 300px;
      height: 300px;
    }
    .loader{
      padding-top: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
    }
    .hero-name-text1{
      font-size: 20px;
    }
    .hero-name-text2{
      font-size: 12px;
    }
    .hero-text{
      font-size: 14px;
    }
    .hero-logoimg {
      padding-top: 10%;
      width: 80px;
      height: 50px;
    }
    .line-img{
      padding-left: 27%;
    }
  }


  @media only screen and (min-width: 600px) and (max-width: 1020px){
    .clm2{
      position: absolute;
      display: none;
    }
    .line-img{
      display: none;
    }
    .hero-container {
      width: 100%;
      display: flex;
      justify-content:center ;
      align-items: center;
      padding-top: -5%;
      height: 500px;
    }
    
    .clm1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
    }
    .hero-name-text{
      justify-content: space-evenly;
      padding: 0%;
      width:70%;
      height: 80px;
    }
    .hero-name-text1{
      padding: 0%;
      line-height: 30px;
      font-size: 32px;
    }
    .hero-name-text2{
      padding: 0%;
      line-height: 20px;
      font-size: 16px;
    }
    .hero-name{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding:0px;
      margin: 0px;
    }
    .hero-text{
      text-align: left;
      width: 70%;
      padding: 0px;
      line-height: 20px;
      font-size: 20px;
    

    }
    .hero-logo{
      width: 70%;
      text-align: left;
    }
    .hero-logoimg {
      padding-top: 5%;
      width: 60px;
      height: 40px;
    }
    .hero-text-container{
      text-align: center;
      padding-top: 0;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 400px;
    }
  }
  
  @media only screen and (min-width: 540px) and (max-width: 600px){
  
    
    .line-img{
      display: none;
    }
    .clm2{
      position: absolute;
      display: none;
    }
    .hero-container {
      width: 100%;
      display: flex;
      justify-content:center ;
      align-items: center;
      padding-top: 2%;
      height: 500px;
    }
    
    .clm1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
    }
    .hero-name-text{
      justify-content: space-evenly;
      padding: 0%;
      width:70%;
      height: 80px;
    }
    .hero-name-text1{
      padding: 0%;
      line-height: 26px;
      font-size: 26px;
    }
    .hero-name-text2{
      padding: 0%;
      line-height: 18px;
      font-size: 14px;
    }
    .hero-name{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding:0px;
      margin: 0px;
    }
    .hero-text{
      text-align: left;
      width: 70%;
      padding: 0px;
      line-height: 18px;
      font-size: 18px;
    

    }
    .hero-logo{
      width: 70%;
      text-align: left;
    }
    .hero-logoimg {
      padding-top: 5%;
      width: 60px;
      height: 40px;
    }
    .hero-text-container{
      text-align: center;
      padding-top: 0;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 400px;
    }
  }

  @media only screen and (min-width: 400px) and (max-width: 540px){
  
    .clm2{
      position: absolute;
      display: none;
    }
    
    .line-img{
      display: none;
    }
    .hero-container {
      width: 100%;
      display: flex;
      justify-content:center ;
      padding-top: 0%;
      align-items: center;
      height: 500px;
    }
    
    .clm1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
    }
    .hero-name-text{
      justify-content: space-evenly;
      padding: 0%;
      width:70%;
      height: 60px;
    }
    .hero-name-text1{
      padding: 0%;
      line-height: 20px;
      font-size: 19px;
    }
    .hero-name-text2{
      padding: 0%;
      line-height: 14px;
      font-size: 11.6px;
    }
    .hero-name{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding:0px;
      margin: 0px;
    }
    .hero-text{
      text-align: left;
      width: 70%;
      padding: 0px;
      line-height: 14px;
      font-size: 14px;
    

    }
    .hero-logo{
      width: 70%;
      text-align: left;
    }
    .hero-logoimg {
      padding-top: 5%;
      width: 60px;
      height: 40px;
    }
    .hero-text-container{
      text-align: center;
      padding-top: 0;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 300px;
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 400px){
  
    .clm2{
      position: absolute;
      display: none;
    }
    
    .line-img{
      display: none;
    }
    .hero-container {
      width: 100%;
      display: flex;
      justify-content:center ;
      padding-top: 0%;
      align-items: center;
      height: 500px;
    }
    
    .clm1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
    }
    .hero-name-text{
      justify-content: space-evenly;
      padding: 0%;
      width:70%;
      height: 50px;
    }
    .hero-name-text1{
      padding: 0%;
      line-height: 18px;
      font-size: 14px;
    }
    .hero-name-text2{
      padding: 0%;
      line-height: 11px;
      font-size: 8px;
    }
    .hero-name{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding:0px;
      margin: 0px;
    }
    .hero-text{
      text-align: left;
      width: 70%;
      padding: 0px;
      line-height: 12px;
      font-size: 12px;
    

    }
    .hero-logo{
      width: 70%;
      text-align: left;
    }
    .hero-logoimg {
      padding-top: 5%;
      width: 50px;
      height: 30px;
    }
    .hero-text-container{
      text-align: center;
      padding-top: 0;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 250px;
    }
  }