.containerr-team {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    /*To fix navbar to the top of page uncomment the following code*/
    /* padding-bottom: 10px;
    position:fixed;

    width: 100%; */
  }

  .logo-team{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-around;
    align-items: center;
  }

  .homeimg{
    width: 40px;
    height: 40px;
  }

  .logoimg-team{
    width: 40px;
    height: 40px;
  }

  .part1-team {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .part2-team {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
  }

  .logotext-team{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-evenly;
    align-items: center;
  }

  .linktext-team {
    /* width: 69px; */
    height: 26px;
  
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #575757;
    text-decoration: none;
  }

  .txtebold{
    font-family: avenir-bold;
  }

  .txtbold{
      font-weight:600;
  }

  @media only screen and (min-width:1123px){

    .logoimg-team{
      width: 40px;
      height: 40px;
    }

    /* .part1-team{
      width: 60%;
    } */
    .comtainerr-team{
      width: 100%;
    }

    .linktext-team{
      font-size: 24px;
    }

    
    
  }

  @media only screen and (max-width: 1123px) {
    .part1-team{
      width: 60%;
    }
  }

  @media only screen and (min-width:700px) and (max-width:940px){

    .part1-team{
      width: 150%;
    }
    .part2-team{
      width: 45%;
    }
    
  }

  @media only screen and (min-width:600px) and (max-width:700px){

    .comtainerr-team{
      width: 100%;
    }

    .linktext-team{
      font-size: 16px;
    }

    .part1-team{
      width: 70%;
    }
    .part2-team{
      width: 40%;
    }
    
    .logo-team{
      width: 55%;
    }
    .homeimg{
      height: 30px;
      width: 30px;
    }

  }

  @media only screen and (min-width:450px) and (max-width:600px){

    .comtainerr-team{
      width: 100%;
    }

    .linktext-team{
      font-size: 14px;
    }

    .part1-team{
      width: 160%;
    }
    .part2-team{
      width: 40%;
    }
    .homeimg{
      height: 25px;
      width: 25px;
    }
   

  }

  @media only screen and (min-width:350px) and (max-width:450px){

    .logoimg-team{
      width: 20px;
      height: 20px;
    }
    .comtainerr-team{
      width: 100%;
    }

    .linktext-team{
      font-size: 11px;
      margin: "0 5%";
    }

    .part1-team{
      width: 150%;
    }
    .part2-team{
      width: 40%;
    }
    
    .homeimg{
      height: 22px;
      width: 22px;
    }

  }

  @media only screen and (min-width:0px) and (max-width:350px){

    .logoimg-team{
      width: 20px;
      height: 20px;
    }
    .comtainerr-team{
      width: 100%;
    }

    .linktext-team{
      font-size: 10px;
    }

    .part1-team{
      width: 200%;
    }
    .part2-team{
      width: 40%;
    }
    .homeimg{
      height: 20px;
      width: 20px;
    }
   

  }
    
  