.containerr {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /*To fix navbar to the top of page uncomment the following code*/
    /* padding-bottom: 10px;
    position:fixed;

    width: 100%; */
  }

  .logo{
    display: flex;
    flex-direction: row;
    width: 59%;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
  }
  .logoimg{
    width: 100% !important;
    /* border: 1px solid red; */
  }


  .part1 {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: space-around;
    align-items: center;
  }

  .part2 {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
  }

  .logotext{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
  }

  .linktext {
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */
    color: #575757;
    text-decoration: none;
  }

  .txtebold{
    font-family: avenir-bold;
  }

  .txtbold{
      font-weight:600;
  }
  .join__us__button{
    width: 20%;
    height: 30px;
    background-color: #3c7afc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .join__us{
    font-size: 0.85rem;
    font-family: avenir-bold;
  }

  @media only screen and (min-width:1123px){

    /* .logoimg{
      border: 1px solid green;
      width: 60px;
      height: 60px;
    } */
    .comtainerr{
      width: 100%;
    }

    .linktext{
      font-size: 22px;
    }

    
    
  }

  @media only screen and (min-width:700px) and (max-width:940px){

    .part1{
      width: 45%;
    }
    .part2{
      width: 40%;
    }

  }

  @media only screen and (min-width:600px) and (max-width:700px){

    .comtainerr{
      width: 100%;
    }

    .linktext{
      font-size: 16px;
    }

    .part1{
      width: 45%;
    }
    .part2{
      width: 40%;
    }
    
   

  }

  @media only screen and (min-width:450px) and (max-width:600px){

    .comtainerr{
      width: 100%;
    }

    .linktext{
      font-size: 14px;
    }

    .part1{
      width: 50%;
    }
    .part2{
      width: 40%;
    }
    
   

  }

  @media only screen and (min-width:350px) and (max-width:450px){

    /* .logoimg{
      width: 40px;
      height: 40px;
    } */
    .comtainerr{
      width: 100%;
    }

    .linktext{
      font-size: 11px;
      margin: "0 5%"
    }

    .part1{
      width: 50%;
    }
    .part2{
      width: 40%;
    }
    
   

  }

  @media only screen and (min-width:0px) and (max-width:350px){

    /* .logoimg{
      width: 30px;
      height: 30px;
    } */
    .logotext{
      width: fit-content;
    }

    .comtainerr{
      width: 100%;
    }

    .linktext{
      font-size: 10px;
    }

    .part1{
      width: 50%;
    }
    .part2{
      width: 40%;
    }
    
   

  }

  @media screen and (max-width: 600px) {
    .containerr {
      display: none;
    }
  }
  