
@font-face {
  font-family: Avenir;
  src: url('/src/assets/fonts/avenir.otf');
}

#contact-us{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gdsc-image {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  padding-top: 10%;
}
#iiitv-image-img{
  /* position: absolute; */
  /* left: 85%; */
  /* padding-top: 2%; */
  opacity: 0;
  animation-name: sliding-iiitv;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes sliding-iiitv {
    0%{
      opacity: 1;
      transform: translateX(1%);
    }
    25%{
      opacity: 1;
      transform: translateX(-0.4%);
    }
    50%{
      opacity: 1;
      transform: translateX(-0.6%);
    }
    75%{
      opacity: 1;
      transform: translateX(-0.8%);
    }
    100%{
      transform: translateX(-1%);
      opacity: 1;
    }
}

.contactus-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -2rem;

  margin-top: 8rem;
  z-index: 999;

}

.button-contact {
  border: solid 3px transparent;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(120deg, #4285f4, #0f9d58, #f4b400, #db4437);
  border-radius: 10px;
  box-shadow: 2px 1000px 1px #fff inset;
  z-index: 999;
  font-size: 23px;
  font-family: Avenir;
}
button.button-contact:hover {
  box-shadow: none;
  color: white;
  z-index: 999;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  z-index: 999;
}
.iconimg {
  padding-left: 0.25rem;
}

.dot {
  z-index: -2;
  margin-top: -12rem;
  width: 100%;
}

.Footer {
  background: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}

.names {
  font-family: Avenir;
  color: #666;
  font-size: 1.2rem;
  text-align: center;
}

.footer-links {
  color: #000000;
  text-decoration: none;
}


@media only screen and (max-width: 944px){
  #iiitv-image-img{
    width: 200px;
  }
  #gdsc-image-img{
    width: 350px;
  }
}

@media only screen and (max-width: 742px) and (min-width: 600px){
  #iiitv-image-img{
    height: 70px;
    width: 180px;
  }
  #gdsc-image-img{
    height: 70px;
    width: 330px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 520px){
  #iiitv-image-img{
    height: 70px;
    width: 150px;
  }
  #gdsc-image-img{  
    width: 240px;
  }
}

@media only screen and (max-width: 520px) and (min-width: 400px){
  #iiitv-image-img{
    height: 60px;
    width: 100px;
  }
  #gdsc-image-img{
    height: 60px;
    width: 180px;
  }
  .gdsc-image{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes sliding-iiitv {
    0%{
      opacity: 1;
      transform: translateY(1%);
    }
    25%{
      opacity: 1;
      transform: translateY(-0.4%);
    }
    50%{
      opacity: 1;
      transform: translatey(-0.6%);
    }
    75%{
      opacity: 1;
      transform: translateY(-0.8%);
    }
    100%{
      transform: translateY(-1%);
      opacity: 1;
    }
}
}

@media only screen and (max-width: 399px) and (min-width: 281px){
  .button-contact{
    height: 8rem;
    width: 10rem;
  }
  #iiitv-image-img{
    height: 60px;
    width: 100px;
  }
  #gdsc-image-img{
    height: 60px;
    width: 180px;
  }
    .gdsc-image{

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @keyframes sliding-iiitv {
      0%{
        opacity: 1;
        transform: translateY(1%);
      }
      25%{
        opacity: 1;
        transform: translateY(-0.4%);
      }
      50%{
        opacity: 1;
        transform: translatey(-0.6%);
      }
      75%{
        opacity: 1;
        transform: translateY(-0.8%);
      }
      100%{
        transform: translateY(-1%);
        opacity: 1;
      }
  }
}

@media only screen and (max-width: 280px){
  .button-contact{
    height: 8rem;
    width: 10rem;
  }
  #iiitv-image-img{
    height: 60px;
    width: 100px;
  }
  #gdsc-image-img{
    height: 60px;
    width: 180px;
  }
  .gdsc-image{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


@keyframes sliding-iiitv {
    0%{
      opacity: 1;
      transform: translateY(1%);
    }
    25%{
      opacity: 1;
      transform: translateY(-0.4%);
    }
    50%{
      opacity: 1;
      transform: translatey(-0.6%);
    }
    75%{
      opacity: 1;
      transform: translateY(-0.8%);
    }
    100%{
      transform: translateY(-1%);
      opacity: 1;
    }
}
}