.gdsc-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  /* padding-left: 20rem; */
}
#iiitv-image-img{
  /* position: absolute; */
  /* left: 85%; */
  margin-bottom: 10%;
  opacity: 0;
  animation-name: sliding-iiitv;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes sliding-iiitv {
    0%{
      opacity: 1;
      transform: translateX(0%);
    }
    50%{
      opacity: 1;
      transform: translateX(-1%);
    }
    100%{
      transform: translateX(-1%);
      opacity: 1;
    }
}
.contactus-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2rem;

  margin-top: 8rem;
  z-index: 999;

  flex-direction: column;
}

.button-contact {
  border: solid 3px transparent;
  padding: 1rem 5rem 1rem 5rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(120deg, #4285f4, #0f9d58, #f4b400, #db4437);
  border-radius: 10px;
  box-shadow: 2px 1000px 1px #fff inset;
  z-index: 999;
  font-size: 23px;
  font-family: Avenir;
}
button.button-contact:hover {
  box-shadow: none;
  color: white;
  z-index: 999;
}

.socialmedia {
  margin-top: 1rem;
  z-index: 999;
}
.iconimg {
  padding-left: 0.25rem;
}

.dot {
  z-index: -2;
  margin-top: -12rem;
  max-width: 100%;
}

@media only screen and (min-width: 1440px) and (max-width: 1600px){
  #iiitv-image-img{
    margin-bottom: 13%;
  }
  .gdsc-image{
    margin-left: 10rem;
  }
}


@media only screen and (min-width: 1601px) and (max-width: 1800px){
  #iiitv-image-img{
    margin-bottom: 12%;
  }
  .gdsc-image{
    margin-left: 10rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px){
  #iiitv-image-img{
    margin-bottom: 15%;
  }
  .gdsc-image{
    margin-left: 10rem;
  }
}


@media only screen and (min-width: 1000px) and (max-width: 1199px){
  #iiitv-image-img{
    margin-bottom: 16.9%;
  }
  .gdsc-image{
    margin-left: 10rem;
  }
}


@media only screen and (min-width: 850px) and (max-width: 999px){
  #iiitv-image-img{
    margin-bottom: 20%;
  }
  .gdsc-image{
    margin-left: 10rem;
  }
}