.video {
  margin-top: 1%;
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  padding-bottom: 30%;
  z-index: -1;
  position: absolute;
  width: 100%;
}
.video-size {
  align-items: center;
  width: 80%;
  height: 55%;
  border: 10px solid rgba(243, 245, 248, 0.5);;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

@keyframes colorchange {
  0% {
    border-color: #377af5;
  }
  25% {
    border-color: #399953;
  }
  50% {
    border-color: #fbb300;
  }
  75% {
    border-color: #d53e33;
  }
  100% {
    border-color: #377af5;
  }
}

.scircle {
  height: 40px;
  width: 40px;
  margin-left: 120%;
  margin-top: 40%;
  position: absolute;
 
  animation: 8s linear infinite rotates;
}

.bcircle {
  height: 80px;
  width: 80px;
  margin-top: 60%;
  margin-left: 140%;
  position: absolute;


  animation: 8s linear infinite rotateb;
}
@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateb {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.video-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

@media only screen and (min-width: 1023px) {
  .video {
    margin-top: 100%;
  }
  .wave{
  padding-bottom: 15%;
  }
}

@media only screen and (min-width: 1200px) {
 .wave{
    padding-bottom: 15%;
  }
 .scircle{
   height: 60px; 
    width: 60px; 
 }
 .bcircle{
   height: 120px;
    width: 120px; 
 }
}

@media only screen and (width: 768px) {
  .video-wrapper{
    width: 70%;
  }
  .video-size {
    height: 50%;
    width: 80%;
  }
  .bcircle{
    margin-left: 120%;
  }
  .scircle{
    margin-left: 100%;
  }
}



@media only screen and (max-width: 767px) {
  .wave {
    display: none;
  }
  .bcircle{
    display: none;
  }
  .scircle{
    display: none;
  }
  .video-size {
    height: 50%;
    width: 90%;
  }
  .video-wrapper{
    width: 90%;
  }
}
