.youtubebutton {
  font-family: Avenir;
  top: 300rem;
  margin-top: 78rem;
  border: none;
  background: none;
  cursor: pointer;
  /*Colorchange code*/
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 12px;
  border-width: 0;
  background-color: #377af5;
  animation-name: colorchange;
  animation-duration: 8s;
  transition: ease-in-out;
  animation-iteration-count: infinite;
  text-decoration: none;
  /* Till here */

  font-weight: 900;
  text-decoration: none;

  font-size: 25px;
  color: white;

  background-color: hsl(210, 80%, 42%);
  box-shadow: hsla(4, 81%, 58%, 0.4) 2px 2px 22px;

  z-index: 0;
  overflow: hidden;
}
/* Color change keyframe*/
@keyframes colorchange {
  0% {
    background-color: #377af5;
  }
  25% {
    background-color: #399953;
  }
  50% {
    background-color: #d53e33;
  }
  100% {
    background-color: #fbb300;
  }
}

.youtubebutton:focus {
  outline-color: transparent;
  box-shadow: hsl(210, 80%, 42%) 2px 2px 22px;
  text-decoration: none;
}

.right::after,
.youtubebutton::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
  text-decoration: none;
}

.youtubebutton::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}
