@font-face {
  font-family: Avenir;
  src: url('/src/assets/fonts/avenir.otf');
}

.Futter {
  background: white;

  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: -1;
}

.names {
  font-family: Avenir;
  color: #666;
  font-size: 12px;
  display: block;
  bottom: auto;
  right: auto;
  text-align: center;
}

.footer-links {
  color: #000000;
  text-decoration: none;
}
