body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: avenir;
  src: url("./assets/fonts/avenir.otf");
}

@font-face {
  font-family: SeoulNamsan;
  src: url('./assets/fonts/SeoulNamsanCondensed-Medium.ttf');
}