body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link{
  text-decoration: none;
}

@font-face {
  font-family: avenir;
  src: url("./assets/fonts/avenir.otf");
}

@font-face {
  font-family: SeoulNamsan;
  src: url('./assets/fonts/SeoulNamsanCondensed-Medium.ttf');
}

@font-face {
  font-family: avenir-bold;
  src: url("./assets/fonts/avenir-bold.otf");
}